<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dragonet.android.addon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name=".DragonetPEService" android:enabled="true" />
        <receiver android:name=".DragonetPEReceiver">
            <intent-filter android:priority="1000">
                <action android:name="dragonetpe.CONNECT_SERVER"/>
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    
</manifest>
